

.negrito {
    font-size: 20px;
}

.banner {
    width: 100%
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.imagembeneficio {
    width: 50%;
} 
.principal{
    background-color: aqua;

}